<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.metersbonwe.stock.dal.define.core.mapper.TmpStockChannelStatusDefineMapper" >
  <resultMap id="BaseResultMap" type="com.metersbonwe.stock.po.core.TmpStockChannelStatus" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="channel_code" property="channelCode" jdbcType="VARCHAR" />
    <result column="six_prod_id" property="sixProdId" jdbcType="VARCHAR" />
    <result column="sale_status" property="saleStatus" jdbcType="VARCHAR" />
    <result column="is_sync" property="isSync" jdbcType="TINYINT" />
  </resultMap>
  
  <insert id="insertList" parameterType="java.util.List" >
    insert into tmp_stock_channel_status (channel_code, six_prod_id, sale_status, is_sync)
    <foreach collection="list" item="item" index="index" open="VALUES" separator=",">
        (
            #{channelCode,jdbcType=VARCHAR}, 
            #{sixProdId,jdbcType=VARCHAR}, 
            #{saleStatus,jdbcType=VARCHAR}, 
            #{isSync,jdbcType=TINYINT}
        )
    </foreach>
  </insert>
  
  <delete id="deleteAll">
    truncate table tmp_stock_channel_status
  </delete>
</mapper>