<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.metersbonwe.stock.dal.define.core.mapper.TmpStockWmsBakDefineMapper">

	<delete id="truncateTable">
		truncate table tmp_stock_wms_bak
	</delete>

	<insert id="insertToTmpStockWms" parameterType="java.util.HashMap">
		insert into tmp_stock_wms_bak(wareh_id,prod_id,wms_stock,update_time)
		values
		<foreach collection="tmpStockWmsList" item="item" index="index"
			separator=",">
			(#{item.warehId}, #{item.prodId}, #{item.wmsStock},now())
		</foreach>
	</insert>

</mapper>