<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.metersbonwe.stock.dal.define.core.mapper.WarehSafeTypeChangeCoreMapper">
	<resultMap id="safeTypeChangeResultMap"
		type="com.metersbonwe.stock.po.core.TmpQueueFreeLock">
		<result column="wareh_id" property="warehId" jdbcType="VARCHAR" />
		<result column="prod_id" property="prodId" jdbcType="VARCHAR" />
	</resultMap>

	<update id="updateWPWarehProdOnlineSafeStock" parameterType="java.util.HashMap">
		update ${tableName} t
		left join stock_wp_safe t1 on t.wareh_id = t1.wareh_id and t.prod_id =
		t1.prod_id
		set t.online_safe_stock = ifnull(t1.safe_stock, -1)
		where t.wareh_id = #{warehId}
	</update>

	<update id="updateWSOrNOWarehProdOnlineSafeStock" parameterType="java.util.HashMap">
		update ${tableName} t
		set t.online_safe_stock = #{safeValue},
		t.update_time = now()
		where t.wareh_id = #{warehId}
	</update>

	<select id="selectSafeTypeChangedData" parameterType="java.util.HashMap"
		resultMap="safeTypeChangeResultMap">
		select t.wareh_id,
		t.prod_id
		from ${tableName} t
		where t.wareh_id = #{warehId, jdbcType=VARCHAR}
	</select>
</mapper>
