<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.metersbonwe.stock.dal.define.sync.mapper.TmpWpStockDefineMapper">
	<resultMap id="BaseResultMap" type="com.metersbonwe.stock.po.sync.TmpWpStock">
		<id column="ID" property="id" jdbcType="DECIMAL" />
		<result column="WAREH_ID" property="warehId" jdbcType="VARCHAR" />
		<result column="PROD_ID" property="prodId" jdbcType="VARCHAR" />
		<result column="WP_STOCK" property="wpStock" jdbcType="DECIMAL" />
		<result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<select id="selectAllDeleteRepeat" parameterType="com.metersbonwe.stock.pojo.TmpWpStockGlobalBean" resultMap="BaseResultMap">
		SELECT T.ID,
		T.WAREH_ID, T.PROD_ID, T.WP_STOCK, T.UPDATE_TIME
		FROM (SELECT TWS.ID,
		TWS.WAREH_ID,
		TWS.PROD_ID,
		TWS.WP_STOCK,
		TWS.UPDATE_TIME,
		RANK()
		OVER(PARTITION BY TWS.WAREH_ID, TWS.PROD_ID ORDER BY TWS.UPDATE_TIME
		DESC,TWS.ID DESC) RK
		FROM TMP_WP_STOCK TWS) T
		WHERE T.RK <![CDATA[<]]> 2
		<if test="startId != null">
            AND T.ID <![CDATA[>]]> #{startId,jdbcType=INTEGER}
        </if>
        AND ROWNUM <![CDATA[<=]]> #{maxDataCount,jdbcType=INTEGER}
	</select>

	<!-- 批量插入数据到 临时表 -->
	<insert id="insertList" parameterType="java.util.List">
		insert into TMP_WP_STOCK (WAREH_ID, PROD_ID,
		WP_STOCK,UPDATE_TIME)
		<foreach collection="list" item="item" index="index" open="("
			close=")" separator="union all">
			select
			#{item.warehId,jdbcType=VARCHAR},
			#{item.prodId,jdbcType=VARCHAR},
			#{item.wpStock,jdbcType=DECIMAL},
			#{item.updateTime,jdbcType=DATE}
			from dual
		</foreach>
	</insert>
</mapper>