<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metersbonwe.stock.dal.auto.sync.mapper.SfWarehProdMapper">
  <resultMap id="BaseResultMap" type="com.metersbonwe.stock.po.sync.SfWarehProd">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="BF_ORG_ID" jdbcType="DECIMAL" property="bfOrgId" />
    <result column="BF_PRODUCT_ID" jdbcType="DECIMAL" property="bfProductId" />
    <result column="STK_ON_HAND" jdbcType="DECIMAL" property="stkOnHand" />
    <result column="QTY_ON_ORDER" jdbcType="DECIMAL" property="qtyOnOrder" />
    <result column="QTY_IN_TRANSIT" jdbcType="DECIMAL" property="qtyInTransit" />
    <result column="QTY_COMMITTED" jdbcType="DECIMAL" property="qtyCommitted" />
    <result column="QTY_IN_DOUBT" jdbcType="DECIMAL" property="qtyInDoubt" />
    <result column="STK_PUBLISHED" jdbcType="DECIMAL" property="stkPublished" />
    <result column="MIN_STK" jdbcType="DECIMAL" property="minStk" />
    <result column="MAX_STK" jdbcType="DECIMAL" property="maxStk" />
    <result column="ALERT_MIN_STK" jdbcType="DECIMAL" property="alertMinStk" />
    <result column="ALERT_MAX_STK" jdbcType="DECIMAL" property="alertMaxStk" />
    <result column="MIN_AD_STK" jdbcType="DECIMAL" property="minAdStk" />
    <result column="MAX_AD_STK" jdbcType="DECIMAL" property="maxAdStk" />
    <result column="SF_WAREHOUSE_LOC_ID" jdbcType="DECIMAL" property="sfWarehouseLocId" />
    <result column="STD_LOC_CAP" jdbcType="DECIMAL" property="stdLocCap" />
    <result column="STK_JUST_TIME" jdbcType="DECIMAL" property="stkJustTime" />
    <result column="QTY_CUR_COMM" jdbcType="DECIMAL" property="qtyCurComm" />
    <result column="QTY_FUC_COMM" jdbcType="DECIMAL" property="qtyFucComm" />
    <result column="QTY_TYPE" jdbcType="VARCHAR" property="qtyType" />
    <result column="LAST_MODIFIED_DATE" jdbcType="TIMESTAMP" property="lastModifiedDate" />
    <result column="QTY_ON_LOCK" jdbcType="DECIMAL" property="qtyOnLock" />
    <result column="IN_RCV_STK" jdbcType="DECIMAL" property="inRcvStk" />
    <result column="CUR_COST" jdbcType="DECIMAL" property="curCost" />
    <result column="QTY_IN_TRANSIT_AG" jdbcType="DECIMAL" property="qtyInTransitAg" />
    <result column="LOCKED_QTY" jdbcType="DECIMAL" property="lockedQty" />
    <result column="RESERVED_COMMITTED_QTY" jdbcType="DECIMAL" property="reservedCommittedQty" />
    <result column="LOCK_STOCKIN" jdbcType="DECIMAL" property="lockStockin" />
    <result column="RESERVED_QTY" jdbcType="DECIMAL" property="reservedQty" />
    <result column="STOCKIN_FREE" jdbcType="DECIMAL" property="stockinFree" />
    <result column="B2B_LOCKED_QTY" jdbcType="DECIMAL" property="b2bLockedQty" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, BF_ORG_ID, BF_PRODUCT_ID, STK_ON_HAND, QTY_ON_ORDER, QTY_IN_TRANSIT, QTY_COMMITTED, 
    QTY_IN_DOUBT, STK_PUBLISHED, MIN_STK, MAX_STK, ALERT_MIN_STK, ALERT_MAX_STK, MIN_AD_STK, 
    MAX_AD_STK, SF_WAREHOUSE_LOC_ID, STD_LOC_CAP, STK_JUST_TIME, QTY_CUR_COMM, QTY_FUC_COMM, 
    QTY_TYPE, LAST_MODIFIED_DATE, QTY_ON_LOCK, IN_RCV_STK, CUR_COST, QTY_IN_TRANSIT_AG, 
    LOCKED_QTY, RESERVED_COMMITTED_QTY, LOCK_STOCKIN, RESERVED_QTY, STOCKIN_FREE, B2B_LOCKED_QTY
  </sql>
  <select id="selectByExample" parameterType="com.metersbonwe.stock.po.sync.SfWarehProdExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SF_WAREH_PROD
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SF_WAREH_PROD
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from SF_WAREH_PROD
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.metersbonwe.stock.po.sync.SfWarehProdExample">
    delete from SF_WAREH_PROD
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.metersbonwe.stock.po.sync.SfWarehProd">
    insert into SF_WAREH_PROD (ID, BF_ORG_ID, BF_PRODUCT_ID, 
      STK_ON_HAND, QTY_ON_ORDER, QTY_IN_TRANSIT, 
      QTY_COMMITTED, QTY_IN_DOUBT, STK_PUBLISHED, 
      MIN_STK, MAX_STK, ALERT_MIN_STK, 
      ALERT_MAX_STK, MIN_AD_STK, MAX_AD_STK, 
      SF_WAREHOUSE_LOC_ID, STD_LOC_CAP, STK_JUST_TIME, 
      QTY_CUR_COMM, QTY_FUC_COMM, QTY_TYPE, 
      LAST_MODIFIED_DATE, QTY_ON_LOCK, IN_RCV_STK, 
      CUR_COST, QTY_IN_TRANSIT_AG, LOCKED_QTY, 
      RESERVED_COMMITTED_QTY, LOCK_STOCKIN, RESERVED_QTY, 
      STOCKIN_FREE, B2B_LOCKED_QTY)
    values (#{id,jdbcType=DECIMAL}, #{bfOrgId,jdbcType=DECIMAL}, #{bfProductId,jdbcType=DECIMAL}, 
      #{stkOnHand,jdbcType=DECIMAL}, #{qtyOnOrder,jdbcType=DECIMAL}, #{qtyInTransit,jdbcType=DECIMAL}, 
      #{qtyCommitted,jdbcType=DECIMAL}, #{qtyInDoubt,jdbcType=DECIMAL}, #{stkPublished,jdbcType=DECIMAL}, 
      #{minStk,jdbcType=DECIMAL}, #{maxStk,jdbcType=DECIMAL}, #{alertMinStk,jdbcType=DECIMAL}, 
      #{alertMaxStk,jdbcType=DECIMAL}, #{minAdStk,jdbcType=DECIMAL}, #{maxAdStk,jdbcType=DECIMAL}, 
      #{sfWarehouseLocId,jdbcType=DECIMAL}, #{stdLocCap,jdbcType=DECIMAL}, #{stkJustTime,jdbcType=DECIMAL}, 
      #{qtyCurComm,jdbcType=DECIMAL}, #{qtyFucComm,jdbcType=DECIMAL}, #{qtyType,jdbcType=VARCHAR}, 
      #{lastModifiedDate,jdbcType=TIMESTAMP}, #{qtyOnLock,jdbcType=DECIMAL}, #{inRcvStk,jdbcType=DECIMAL}, 
      #{curCost,jdbcType=DECIMAL}, #{qtyInTransitAg,jdbcType=DECIMAL}, #{lockedQty,jdbcType=DECIMAL}, 
      #{reservedCommittedQty,jdbcType=DECIMAL}, #{lockStockin,jdbcType=DECIMAL}, #{reservedQty,jdbcType=DECIMAL}, 
      #{stockinFree,jdbcType=DECIMAL}, #{b2bLockedQty,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.metersbonwe.stock.po.sync.SfWarehProd">
    insert into SF_WAREH_PROD
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="bfOrgId != null">
        BF_ORG_ID,
      </if>
      <if test="bfProductId != null">
        BF_PRODUCT_ID,
      </if>
      <if test="stkOnHand != null">
        STK_ON_HAND,
      </if>
      <if test="qtyOnOrder != null">
        QTY_ON_ORDER,
      </if>
      <if test="qtyInTransit != null">
        QTY_IN_TRANSIT,
      </if>
      <if test="qtyCommitted != null">
        QTY_COMMITTED,
      </if>
      <if test="qtyInDoubt != null">
        QTY_IN_DOUBT,
      </if>
      <if test="stkPublished != null">
        STK_PUBLISHED,
      </if>
      <if test="minStk != null">
        MIN_STK,
      </if>
      <if test="maxStk != null">
        MAX_STK,
      </if>
      <if test="alertMinStk != null">
        ALERT_MIN_STK,
      </if>
      <if test="alertMaxStk != null">
        ALERT_MAX_STK,
      </if>
      <if test="minAdStk != null">
        MIN_AD_STK,
      </if>
      <if test="maxAdStk != null">
        MAX_AD_STK,
      </if>
      <if test="sfWarehouseLocId != null">
        SF_WAREHOUSE_LOC_ID,
      </if>
      <if test="stdLocCap != null">
        STD_LOC_CAP,
      </if>
      <if test="stkJustTime != null">
        STK_JUST_TIME,
      </if>
      <if test="qtyCurComm != null">
        QTY_CUR_COMM,
      </if>
      <if test="qtyFucComm != null">
        QTY_FUC_COMM,
      </if>
      <if test="qtyType != null">
        QTY_TYPE,
      </if>
      <if test="lastModifiedDate != null">
        LAST_MODIFIED_DATE,
      </if>
      <if test="qtyOnLock != null">
        QTY_ON_LOCK,
      </if>
      <if test="inRcvStk != null">
        IN_RCV_STK,
      </if>
      <if test="curCost != null">
        CUR_COST,
      </if>
      <if test="qtyInTransitAg != null">
        QTY_IN_TRANSIT_AG,
      </if>
      <if test="lockedQty != null">
        LOCKED_QTY,
      </if>
      <if test="reservedCommittedQty != null">
        RESERVED_COMMITTED_QTY,
      </if>
      <if test="lockStockin != null">
        LOCK_STOCKIN,
      </if>
      <if test="reservedQty != null">
        RESERVED_QTY,
      </if>
      <if test="stockinFree != null">
        STOCKIN_FREE,
      </if>
      <if test="b2bLockedQty != null">
        B2B_LOCKED_QTY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="bfOrgId != null">
        #{bfOrgId,jdbcType=DECIMAL},
      </if>
      <if test="bfProductId != null">
        #{bfProductId,jdbcType=DECIMAL},
      </if>
      <if test="stkOnHand != null">
        #{stkOnHand,jdbcType=DECIMAL},
      </if>
      <if test="qtyOnOrder != null">
        #{qtyOnOrder,jdbcType=DECIMAL},
      </if>
      <if test="qtyInTransit != null">
        #{qtyInTransit,jdbcType=DECIMAL},
      </if>
      <if test="qtyCommitted != null">
        #{qtyCommitted,jdbcType=DECIMAL},
      </if>
      <if test="qtyInDoubt != null">
        #{qtyInDoubt,jdbcType=DECIMAL},
      </if>
      <if test="stkPublished != null">
        #{stkPublished,jdbcType=DECIMAL},
      </if>
      <if test="minStk != null">
        #{minStk,jdbcType=DECIMAL},
      </if>
      <if test="maxStk != null">
        #{maxStk,jdbcType=DECIMAL},
      </if>
      <if test="alertMinStk != null">
        #{alertMinStk,jdbcType=DECIMAL},
      </if>
      <if test="alertMaxStk != null">
        #{alertMaxStk,jdbcType=DECIMAL},
      </if>
      <if test="minAdStk != null">
        #{minAdStk,jdbcType=DECIMAL},
      </if>
      <if test="maxAdStk != null">
        #{maxAdStk,jdbcType=DECIMAL},
      </if>
      <if test="sfWarehouseLocId != null">
        #{sfWarehouseLocId,jdbcType=DECIMAL},
      </if>
      <if test="stdLocCap != null">
        #{stdLocCap,jdbcType=DECIMAL},
      </if>
      <if test="stkJustTime != null">
        #{stkJustTime,jdbcType=DECIMAL},
      </if>
      <if test="qtyCurComm != null">
        #{qtyCurComm,jdbcType=DECIMAL},
      </if>
      <if test="qtyFucComm != null">
        #{qtyFucComm,jdbcType=DECIMAL},
      </if>
      <if test="qtyType != null">
        #{qtyType,jdbcType=VARCHAR},
      </if>
      <if test="lastModifiedDate != null">
        #{lastModifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="qtyOnLock != null">
        #{qtyOnLock,jdbcType=DECIMAL},
      </if>
      <if test="inRcvStk != null">
        #{inRcvStk,jdbcType=DECIMAL},
      </if>
      <if test="curCost != null">
        #{curCost,jdbcType=DECIMAL},
      </if>
      <if test="qtyInTransitAg != null">
        #{qtyInTransitAg,jdbcType=DECIMAL},
      </if>
      <if test="lockedQty != null">
        #{lockedQty,jdbcType=DECIMAL},
      </if>
      <if test="reservedCommittedQty != null">
        #{reservedCommittedQty,jdbcType=DECIMAL},
      </if>
      <if test="lockStockin != null">
        #{lockStockin,jdbcType=DECIMAL},
      </if>
      <if test="reservedQty != null">
        #{reservedQty,jdbcType=DECIMAL},
      </if>
      <if test="stockinFree != null">
        #{stockinFree,jdbcType=DECIMAL},
      </if>
      <if test="b2bLockedQty != null">
        #{b2bLockedQty,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.metersbonwe.stock.po.sync.SfWarehProdExample" resultType="java.lang.Integer">
    select count(*) from SF_WAREH_PROD
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update SF_WAREH_PROD
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.bfOrgId != null">
        BF_ORG_ID = #{record.bfOrgId,jdbcType=DECIMAL},
      </if>
      <if test="record.bfProductId != null">
        BF_PRODUCT_ID = #{record.bfProductId,jdbcType=DECIMAL},
      </if>
      <if test="record.stkOnHand != null">
        STK_ON_HAND = #{record.stkOnHand,jdbcType=DECIMAL},
      </if>
      <if test="record.qtyOnOrder != null">
        QTY_ON_ORDER = #{record.qtyOnOrder,jdbcType=DECIMAL},
      </if>
      <if test="record.qtyInTransit != null">
        QTY_IN_TRANSIT = #{record.qtyInTransit,jdbcType=DECIMAL},
      </if>
      <if test="record.qtyCommitted != null">
        QTY_COMMITTED = #{record.qtyCommitted,jdbcType=DECIMAL},
      </if>
      <if test="record.qtyInDoubt != null">
        QTY_IN_DOUBT = #{record.qtyInDoubt,jdbcType=DECIMAL},
      </if>
      <if test="record.stkPublished != null">
        STK_PUBLISHED = #{record.stkPublished,jdbcType=DECIMAL},
      </if>
      <if test="record.minStk != null">
        MIN_STK = #{record.minStk,jdbcType=DECIMAL},
      </if>
      <if test="record.maxStk != null">
        MAX_STK = #{record.maxStk,jdbcType=DECIMAL},
      </if>
      <if test="record.alertMinStk != null">
        ALERT_MIN_STK = #{record.alertMinStk,jdbcType=DECIMAL},
      </if>
      <if test="record.alertMaxStk != null">
        ALERT_MAX_STK = #{record.alertMaxStk,jdbcType=DECIMAL},
      </if>
      <if test="record.minAdStk != null">
        MIN_AD_STK = #{record.minAdStk,jdbcType=DECIMAL},
      </if>
      <if test="record.maxAdStk != null">
        MAX_AD_STK = #{record.maxAdStk,jdbcType=DECIMAL},
      </if>
      <if test="record.sfWarehouseLocId != null">
        SF_WAREHOUSE_LOC_ID = #{record.sfWarehouseLocId,jdbcType=DECIMAL},
      </if>
      <if test="record.stdLocCap != null">
        STD_LOC_CAP = #{record.stdLocCap,jdbcType=DECIMAL},
      </if>
      <if test="record.stkJustTime != null">
        STK_JUST_TIME = #{record.stkJustTime,jdbcType=DECIMAL},
      </if>
      <if test="record.qtyCurComm != null">
        QTY_CUR_COMM = #{record.qtyCurComm,jdbcType=DECIMAL},
      </if>
      <if test="record.qtyFucComm != null">
        QTY_FUC_COMM = #{record.qtyFucComm,jdbcType=DECIMAL},
      </if>
      <if test="record.qtyType != null">
        QTY_TYPE = #{record.qtyType,jdbcType=VARCHAR},
      </if>
      <if test="record.lastModifiedDate != null">
        LAST_MODIFIED_DATE = #{record.lastModifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.qtyOnLock != null">
        QTY_ON_LOCK = #{record.qtyOnLock,jdbcType=DECIMAL},
      </if>
      <if test="record.inRcvStk != null">
        IN_RCV_STK = #{record.inRcvStk,jdbcType=DECIMAL},
      </if>
      <if test="record.curCost != null">
        CUR_COST = #{record.curCost,jdbcType=DECIMAL},
      </if>
      <if test="record.qtyInTransitAg != null">
        QTY_IN_TRANSIT_AG = #{record.qtyInTransitAg,jdbcType=DECIMAL},
      </if>
      <if test="record.lockedQty != null">
        LOCKED_QTY = #{record.lockedQty,jdbcType=DECIMAL},
      </if>
      <if test="record.reservedCommittedQty != null">
        RESERVED_COMMITTED_QTY = #{record.reservedCommittedQty,jdbcType=DECIMAL},
      </if>
      <if test="record.lockStockin != null">
        LOCK_STOCKIN = #{record.lockStockin,jdbcType=DECIMAL},
      </if>
      <if test="record.reservedQty != null">
        RESERVED_QTY = #{record.reservedQty,jdbcType=DECIMAL},
      </if>
      <if test="record.stockinFree != null">
        STOCKIN_FREE = #{record.stockinFree,jdbcType=DECIMAL},
      </if>
      <if test="record.b2bLockedQty != null">
        B2B_LOCKED_QTY = #{record.b2bLockedQty,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update SF_WAREH_PROD
    set ID = #{record.id,jdbcType=DECIMAL},
      BF_ORG_ID = #{record.bfOrgId,jdbcType=DECIMAL},
      BF_PRODUCT_ID = #{record.bfProductId,jdbcType=DECIMAL},
      STK_ON_HAND = #{record.stkOnHand,jdbcType=DECIMAL},
      QTY_ON_ORDER = #{record.qtyOnOrder,jdbcType=DECIMAL},
      QTY_IN_TRANSIT = #{record.qtyInTransit,jdbcType=DECIMAL},
      QTY_COMMITTED = #{record.qtyCommitted,jdbcType=DECIMAL},
      QTY_IN_DOUBT = #{record.qtyInDoubt,jdbcType=DECIMAL},
      STK_PUBLISHED = #{record.stkPublished,jdbcType=DECIMAL},
      MIN_STK = #{record.minStk,jdbcType=DECIMAL},
      MAX_STK = #{record.maxStk,jdbcType=DECIMAL},
      ALERT_MIN_STK = #{record.alertMinStk,jdbcType=DECIMAL},
      ALERT_MAX_STK = #{record.alertMaxStk,jdbcType=DECIMAL},
      MIN_AD_STK = #{record.minAdStk,jdbcType=DECIMAL},
      MAX_AD_STK = #{record.maxAdStk,jdbcType=DECIMAL},
      SF_WAREHOUSE_LOC_ID = #{record.sfWarehouseLocId,jdbcType=DECIMAL},
      STD_LOC_CAP = #{record.stdLocCap,jdbcType=DECIMAL},
      STK_JUST_TIME = #{record.stkJustTime,jdbcType=DECIMAL},
      QTY_CUR_COMM = #{record.qtyCurComm,jdbcType=DECIMAL},
      QTY_FUC_COMM = #{record.qtyFucComm,jdbcType=DECIMAL},
      QTY_TYPE = #{record.qtyType,jdbcType=VARCHAR},
      LAST_MODIFIED_DATE = #{record.lastModifiedDate,jdbcType=TIMESTAMP},
      QTY_ON_LOCK = #{record.qtyOnLock,jdbcType=DECIMAL},
      IN_RCV_STK = #{record.inRcvStk,jdbcType=DECIMAL},
      CUR_COST = #{record.curCost,jdbcType=DECIMAL},
      QTY_IN_TRANSIT_AG = #{record.qtyInTransitAg,jdbcType=DECIMAL},
      LOCKED_QTY = #{record.lockedQty,jdbcType=DECIMAL},
      RESERVED_COMMITTED_QTY = #{record.reservedCommittedQty,jdbcType=DECIMAL},
      LOCK_STOCKIN = #{record.lockStockin,jdbcType=DECIMAL},
      RESERVED_QTY = #{record.reservedQty,jdbcType=DECIMAL},
      STOCKIN_FREE = #{record.stockinFree,jdbcType=DECIMAL},
      B2B_LOCKED_QTY = #{record.b2bLockedQty,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.metersbonwe.stock.po.sync.SfWarehProd">
    update SF_WAREH_PROD
    <set>
      <if test="bfOrgId != null">
        BF_ORG_ID = #{bfOrgId,jdbcType=DECIMAL},
      </if>
      <if test="bfProductId != null">
        BF_PRODUCT_ID = #{bfProductId,jdbcType=DECIMAL},
      </if>
      <if test="stkOnHand != null">
        STK_ON_HAND = #{stkOnHand,jdbcType=DECIMAL},
      </if>
      <if test="qtyOnOrder != null">
        QTY_ON_ORDER = #{qtyOnOrder,jdbcType=DECIMAL},
      </if>
      <if test="qtyInTransit != null">
        QTY_IN_TRANSIT = #{qtyInTransit,jdbcType=DECIMAL},
      </if>
      <if test="qtyCommitted != null">
        QTY_COMMITTED = #{qtyCommitted,jdbcType=DECIMAL},
      </if>
      <if test="qtyInDoubt != null">
        QTY_IN_DOUBT = #{qtyInDoubt,jdbcType=DECIMAL},
      </if>
      <if test="stkPublished != null">
        STK_PUBLISHED = #{stkPublished,jdbcType=DECIMAL},
      </if>
      <if test="minStk != null">
        MIN_STK = #{minStk,jdbcType=DECIMAL},
      </if>
      <if test="maxStk != null">
        MAX_STK = #{maxStk,jdbcType=DECIMAL},
      </if>
      <if test="alertMinStk != null">
        ALERT_MIN_STK = #{alertMinStk,jdbcType=DECIMAL},
      </if>
      <if test="alertMaxStk != null">
        ALERT_MAX_STK = #{alertMaxStk,jdbcType=DECIMAL},
      </if>
      <if test="minAdStk != null">
        MIN_AD_STK = #{minAdStk,jdbcType=DECIMAL},
      </if>
      <if test="maxAdStk != null">
        MAX_AD_STK = #{maxAdStk,jdbcType=DECIMAL},
      </if>
      <if test="sfWarehouseLocId != null">
        SF_WAREHOUSE_LOC_ID = #{sfWarehouseLocId,jdbcType=DECIMAL},
      </if>
      <if test="stdLocCap != null">
        STD_LOC_CAP = #{stdLocCap,jdbcType=DECIMAL},
      </if>
      <if test="stkJustTime != null">
        STK_JUST_TIME = #{stkJustTime,jdbcType=DECIMAL},
      </if>
      <if test="qtyCurComm != null">
        QTY_CUR_COMM = #{qtyCurComm,jdbcType=DECIMAL},
      </if>
      <if test="qtyFucComm != null">
        QTY_FUC_COMM = #{qtyFucComm,jdbcType=DECIMAL},
      </if>
      <if test="qtyType != null">
        QTY_TYPE = #{qtyType,jdbcType=VARCHAR},
      </if>
      <if test="lastModifiedDate != null">
        LAST_MODIFIED_DATE = #{lastModifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="qtyOnLock != null">
        QTY_ON_LOCK = #{qtyOnLock,jdbcType=DECIMAL},
      </if>
      <if test="inRcvStk != null">
        IN_RCV_STK = #{inRcvStk,jdbcType=DECIMAL},
      </if>
      <if test="curCost != null">
        CUR_COST = #{curCost,jdbcType=DECIMAL},
      </if>
      <if test="qtyInTransitAg != null">
        QTY_IN_TRANSIT_AG = #{qtyInTransitAg,jdbcType=DECIMAL},
      </if>
      <if test="lockedQty != null">
        LOCKED_QTY = #{lockedQty,jdbcType=DECIMAL},
      </if>
      <if test="reservedCommittedQty != null">
        RESERVED_COMMITTED_QTY = #{reservedCommittedQty,jdbcType=DECIMAL},
      </if>
      <if test="lockStockin != null">
        LOCK_STOCKIN = #{lockStockin,jdbcType=DECIMAL},
      </if>
      <if test="reservedQty != null">
        RESERVED_QTY = #{reservedQty,jdbcType=DECIMAL},
      </if>
      <if test="stockinFree != null">
        STOCKIN_FREE = #{stockinFree,jdbcType=DECIMAL},
      </if>
      <if test="b2bLockedQty != null">
        B2B_LOCKED_QTY = #{b2bLockedQty,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.metersbonwe.stock.po.sync.SfWarehProd">
    update SF_WAREH_PROD
    set BF_ORG_ID = #{bfOrgId,jdbcType=DECIMAL},
      BF_PRODUCT_ID = #{bfProductId,jdbcType=DECIMAL},
      STK_ON_HAND = #{stkOnHand,jdbcType=DECIMAL},
      QTY_ON_ORDER = #{qtyOnOrder,jdbcType=DECIMAL},
      QTY_IN_TRANSIT = #{qtyInTransit,jdbcType=DECIMAL},
      QTY_COMMITTED = #{qtyCommitted,jdbcType=DECIMAL},
      QTY_IN_DOUBT = #{qtyInDoubt,jdbcType=DECIMAL},
      STK_PUBLISHED = #{stkPublished,jdbcType=DECIMAL},
      MIN_STK = #{minStk,jdbcType=DECIMAL},
      MAX_STK = #{maxStk,jdbcType=DECIMAL},
      ALERT_MIN_STK = #{alertMinStk,jdbcType=DECIMAL},
      ALERT_MAX_STK = #{alertMaxStk,jdbcType=DECIMAL},
      MIN_AD_STK = #{minAdStk,jdbcType=DECIMAL},
      MAX_AD_STK = #{maxAdStk,jdbcType=DECIMAL},
      SF_WAREHOUSE_LOC_ID = #{sfWarehouseLocId,jdbcType=DECIMAL},
      STD_LOC_CAP = #{stdLocCap,jdbcType=DECIMAL},
      STK_JUST_TIME = #{stkJustTime,jdbcType=DECIMAL},
      QTY_CUR_COMM = #{qtyCurComm,jdbcType=DECIMAL},
      QTY_FUC_COMM = #{qtyFucComm,jdbcType=DECIMAL},
      QTY_TYPE = #{qtyType,jdbcType=VARCHAR},
      LAST_MODIFIED_DATE = #{lastModifiedDate,jdbcType=TIMESTAMP},
      QTY_ON_LOCK = #{qtyOnLock,jdbcType=DECIMAL},
      IN_RCV_STK = #{inRcvStk,jdbcType=DECIMAL},
      CUR_COST = #{curCost,jdbcType=DECIMAL},
      QTY_IN_TRANSIT_AG = #{qtyInTransitAg,jdbcType=DECIMAL},
      LOCKED_QTY = #{lockedQty,jdbcType=DECIMAL},
      RESERVED_COMMITTED_QTY = #{reservedCommittedQty,jdbcType=DECIMAL},
      LOCK_STOCKIN = #{lockStockin,jdbcType=DECIMAL},
      RESERVED_QTY = #{reservedQty,jdbcType=DECIMAL},
      STOCKIN_FREE = #{stockinFree,jdbcType=DECIMAL},
      B2B_LOCKED_QTY = #{b2bLockedQty,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=DECIMAL}
  </update>

</mapper>