<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metersbonwe.stock.dal.auto.sync.mapper.ShopMapper">
  <resultMap id="BaseResultMap" type="com.metersbonwe.stock.po.sync.Shop">
    <result column="SHOP_ID" jdbcType="VARCHAR" property="shopId" />
    <result column="SHOP_TYPE" jdbcType="CHAR" property="shopType" />
    <result column="MAN_ID" jdbcType="VARCHAR" property="manId" />
    <result column="OPEN_DATE" jdbcType="DATE" property="openDate" />
    <result column="CLOSE_DATE" jdbcType="DATE" property="closeDate" />
    <result column="ACREAGE" jdbcType="DECIMAL" property="acreage" />
    <result column="SETTLE_DATE" jdbcType="DATE" property="settleDate" />
    <result column="RENT_RATE" jdbcType="DECIMAL" property="rentRate" />
    <result column="JOIN_FLAG" jdbcType="CHAR" property="joinFlag" />
    <result column="ACCOUNT_GROUP" jdbcType="VARCHAR" property="accountGroup" />
    <result column="COMPANY_CODE" jdbcType="VARCHAR" property="companyCode" />
    <result column="PROFIT_CENTER" jdbcType="VARCHAR" property="profitCenter" />
    <result column="SHOP_SALE_CLS" jdbcType="VARCHAR" property="shopSaleCls" />
    <result column="SMS_MARKET_CODE" jdbcType="VARCHAR" property="smsMarketCode" />
    <result column="CUR_STOCK_TYPE" jdbcType="VARCHAR" property="curStockType" />
    <result column="CONSIGN_TYPE" jdbcType="CHAR" property="consignType" />
    <result column="CONSIGN_WAREHID" jdbcType="VARCHAR" property="consignWarehid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    SHOP_ID, SHOP_TYPE, MAN_ID, OPEN_DATE, CLOSE_DATE, ACREAGE, SETTLE_DATE, RENT_RATE, 
    JOIN_FLAG, ACCOUNT_GROUP, COMPANY_CODE, PROFIT_CENTER, SHOP_SALE_CLS, SMS_MARKET_CODE, 
    CUR_STOCK_TYPE, CONSIGN_TYPE, CONSIGN_WAREHID
  </sql>
  <select id="selectByExample" parameterType="com.metersbonwe.stock.po.sync.ShopExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SHOP
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.metersbonwe.stock.po.sync.ShopExample">
    delete from SHOP
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.metersbonwe.stock.po.sync.Shop">
    insert into SHOP (SHOP_ID, SHOP_TYPE, MAN_ID, 
      OPEN_DATE, CLOSE_DATE, ACREAGE, 
      SETTLE_DATE, RENT_RATE, JOIN_FLAG, 
      ACCOUNT_GROUP, COMPANY_CODE, PROFIT_CENTER, 
      SHOP_SALE_CLS, SMS_MARKET_CODE, CUR_STOCK_TYPE, 
      CONSIGN_TYPE, CONSIGN_WAREHID)
    values (#{shopId,jdbcType=VARCHAR}, #{shopType,jdbcType=CHAR}, #{manId,jdbcType=VARCHAR}, 
      #{openDate,jdbcType=DATE}, #{closeDate,jdbcType=DATE}, #{acreage,jdbcType=DECIMAL}, 
      #{settleDate,jdbcType=DATE}, #{rentRate,jdbcType=DECIMAL}, #{joinFlag,jdbcType=CHAR}, 
      #{accountGroup,jdbcType=VARCHAR}, #{companyCode,jdbcType=VARCHAR}, #{profitCenter,jdbcType=VARCHAR}, 
      #{shopSaleCls,jdbcType=VARCHAR}, #{smsMarketCode,jdbcType=VARCHAR}, #{curStockType,jdbcType=VARCHAR}, 
      #{consignType,jdbcType=CHAR}, #{consignWarehid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.metersbonwe.stock.po.sync.Shop">
    insert into SHOP
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="shopId != null">
        SHOP_ID,
      </if>
      <if test="shopType != null">
        SHOP_TYPE,
      </if>
      <if test="manId != null">
        MAN_ID,
      </if>
      <if test="openDate != null">
        OPEN_DATE,
      </if>
      <if test="closeDate != null">
        CLOSE_DATE,
      </if>
      <if test="acreage != null">
        ACREAGE,
      </if>
      <if test="settleDate != null">
        SETTLE_DATE,
      </if>
      <if test="rentRate != null">
        RENT_RATE,
      </if>
      <if test="joinFlag != null">
        JOIN_FLAG,
      </if>
      <if test="accountGroup != null">
        ACCOUNT_GROUP,
      </if>
      <if test="companyCode != null">
        COMPANY_CODE,
      </if>
      <if test="profitCenter != null">
        PROFIT_CENTER,
      </if>
      <if test="shopSaleCls != null">
        SHOP_SALE_CLS,
      </if>
      <if test="smsMarketCode != null">
        SMS_MARKET_CODE,
      </if>
      <if test="curStockType != null">
        CUR_STOCK_TYPE,
      </if>
      <if test="consignType != null">
        CONSIGN_TYPE,
      </if>
      <if test="consignWarehid != null">
        CONSIGN_WAREHID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="shopId != null">
        #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="shopType != null">
        #{shopType,jdbcType=CHAR},
      </if>
      <if test="manId != null">
        #{manId,jdbcType=VARCHAR},
      </if>
      <if test="openDate != null">
        #{openDate,jdbcType=DATE},
      </if>
      <if test="closeDate != null">
        #{closeDate,jdbcType=DATE},
      </if>
      <if test="acreage != null">
        #{acreage,jdbcType=DECIMAL},
      </if>
      <if test="settleDate != null">
        #{settleDate,jdbcType=DATE},
      </if>
      <if test="rentRate != null">
        #{rentRate,jdbcType=DECIMAL},
      </if>
      <if test="joinFlag != null">
        #{joinFlag,jdbcType=CHAR},
      </if>
      <if test="accountGroup != null">
        #{accountGroup,jdbcType=VARCHAR},
      </if>
      <if test="companyCode != null">
        #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="profitCenter != null">
        #{profitCenter,jdbcType=VARCHAR},
      </if>
      <if test="shopSaleCls != null">
        #{shopSaleCls,jdbcType=VARCHAR},
      </if>
      <if test="smsMarketCode != null">
        #{smsMarketCode,jdbcType=VARCHAR},
      </if>
      <if test="curStockType != null">
        #{curStockType,jdbcType=VARCHAR},
      </if>
      <if test="consignType != null">
        #{consignType,jdbcType=CHAR},
      </if>
      <if test="consignWarehid != null">
        #{consignWarehid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.metersbonwe.stock.po.sync.ShopExample" resultType="java.lang.Integer">
    select count(*) from SHOP
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update SHOP
    <set>
      <if test="record.shopId != null">
        SHOP_ID = #{record.shopId,jdbcType=VARCHAR},
      </if>
      <if test="record.shopType != null">
        SHOP_TYPE = #{record.shopType,jdbcType=CHAR},
      </if>
      <if test="record.manId != null">
        MAN_ID = #{record.manId,jdbcType=VARCHAR},
      </if>
      <if test="record.openDate != null">
        OPEN_DATE = #{record.openDate,jdbcType=DATE},
      </if>
      <if test="record.closeDate != null">
        CLOSE_DATE = #{record.closeDate,jdbcType=DATE},
      </if>
      <if test="record.acreage != null">
        ACREAGE = #{record.acreage,jdbcType=DECIMAL},
      </if>
      <if test="record.settleDate != null">
        SETTLE_DATE = #{record.settleDate,jdbcType=DATE},
      </if>
      <if test="record.rentRate != null">
        RENT_RATE = #{record.rentRate,jdbcType=DECIMAL},
      </if>
      <if test="record.joinFlag != null">
        JOIN_FLAG = #{record.joinFlag,jdbcType=CHAR},
      </if>
      <if test="record.accountGroup != null">
        ACCOUNT_GROUP = #{record.accountGroup,jdbcType=VARCHAR},
      </if>
      <if test="record.companyCode != null">
        COMPANY_CODE = #{record.companyCode,jdbcType=VARCHAR},
      </if>
      <if test="record.profitCenter != null">
        PROFIT_CENTER = #{record.profitCenter,jdbcType=VARCHAR},
      </if>
      <if test="record.shopSaleCls != null">
        SHOP_SALE_CLS = #{record.shopSaleCls,jdbcType=VARCHAR},
      </if>
      <if test="record.smsMarketCode != null">
        SMS_MARKET_CODE = #{record.smsMarketCode,jdbcType=VARCHAR},
      </if>
      <if test="record.curStockType != null">
        CUR_STOCK_TYPE = #{record.curStockType,jdbcType=VARCHAR},
      </if>
      <if test="record.consignType != null">
        CONSIGN_TYPE = #{record.consignType,jdbcType=CHAR},
      </if>
      <if test="record.consignWarehid != null">
        CONSIGN_WAREHID = #{record.consignWarehid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update SHOP
    set SHOP_ID = #{record.shopId,jdbcType=VARCHAR},
      SHOP_TYPE = #{record.shopType,jdbcType=CHAR},
      MAN_ID = #{record.manId,jdbcType=VARCHAR},
      OPEN_DATE = #{record.openDate,jdbcType=DATE},
      CLOSE_DATE = #{record.closeDate,jdbcType=DATE},
      ACREAGE = #{record.acreage,jdbcType=DECIMAL},
      SETTLE_DATE = #{record.settleDate,jdbcType=DATE},
      RENT_RATE = #{record.rentRate,jdbcType=DECIMAL},
      JOIN_FLAG = #{record.joinFlag,jdbcType=CHAR},
      ACCOUNT_GROUP = #{record.accountGroup,jdbcType=VARCHAR},
      COMPANY_CODE = #{record.companyCode,jdbcType=VARCHAR},
      PROFIT_CENTER = #{record.profitCenter,jdbcType=VARCHAR},
      SHOP_SALE_CLS = #{record.shopSaleCls,jdbcType=VARCHAR},
      SMS_MARKET_CODE = #{record.smsMarketCode,jdbcType=VARCHAR},
      CUR_STOCK_TYPE = #{record.curStockType,jdbcType=VARCHAR},
      CONSIGN_TYPE = #{record.consignType,jdbcType=CHAR},
      CONSIGN_WAREHID = #{record.consignWarehid,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
 
</mapper>