<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.metersbonwe.stock.dal.auto.sync.mapper.TmpChannelScopeMapper" >
  <resultMap id="BaseResultMap" type="com.metersbonwe.stock.po.sync.TmpChannelScope" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="CHANNEL_CODE" property="channelCode" jdbcType="VARCHAR" />
    <result column="WAREH_ID" property="warehId" jdbcType="VARCHAR" />
    <result column="SCOPE_CHANGE" property="scopeChange" jdbcType="CHAR" />
    <result column="WAREH_STATE" property="warehState" jdbcType="CHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, CHANNEL_CODE, WAREH_ID, SCOPE_CHANGE, WAREH_STATE, UPDATE_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.metersbonwe.stock.po.sync.TmpChannelScopeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from TMP_CHANNEL_SCOPE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from TMP_CHANNEL_SCOPE
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from TMP_CHANNEL_SCOPE
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.metersbonwe.stock.po.sync.TmpChannelScopeExample" >
    delete from TMP_CHANNEL_SCOPE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.metersbonwe.stock.po.sync.TmpChannelScope" >
    insert into TMP_CHANNEL_SCOPE (ID, CHANNEL_CODE, WAREH_ID, 
      SCOPE_CHANGE, WAREH_STATE, UPDATE_TIME
      )
    values (#{id,jdbcType=DECIMAL}, #{channelCode,jdbcType=VARCHAR}, #{warehId,jdbcType=VARCHAR}, 
      #{scopeChange,jdbcType=CHAR}, #{warehState,jdbcType=CHAR}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.metersbonwe.stock.po.sync.TmpChannelScope" >
    insert into TMP_CHANNEL_SCOPE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="channelCode != null" >
        CHANNEL_CODE,
      </if>
      <if test="warehId != null" >
        WAREH_ID,
      </if>
      <if test="scopeChange != null" >
        SCOPE_CHANGE,
      </if>
      <if test="warehState != null" >
        WAREH_STATE,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="channelCode != null" >
        #{channelCode,jdbcType=VARCHAR},
      </if>
      <if test="warehId != null" >
        #{warehId,jdbcType=VARCHAR},
      </if>
      <if test="scopeChange != null" >
        #{scopeChange,jdbcType=CHAR},
      </if>
      <if test="warehState != null" >
        #{warehState,jdbcType=CHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.metersbonwe.stock.po.sync.TmpChannelScopeExample" resultType="java.lang.Integer" >
    select count(*) from TMP_CHANNEL_SCOPE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update TMP_CHANNEL_SCOPE
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.channelCode != null" >
        CHANNEL_CODE = #{record.channelCode,jdbcType=VARCHAR},
      </if>
      <if test="record.warehId != null" >
        WAREH_ID = #{record.warehId,jdbcType=VARCHAR},
      </if>
      <if test="record.scopeChange != null" >
        SCOPE_CHANGE = #{record.scopeChange,jdbcType=CHAR},
      </if>
      <if test="record.warehState != null" >
        WAREH_STATE = #{record.warehState,jdbcType=CHAR},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update TMP_CHANNEL_SCOPE
    set ID = #{record.id,jdbcType=DECIMAL},
      CHANNEL_CODE = #{record.channelCode,jdbcType=VARCHAR},
      WAREH_ID = #{record.warehId,jdbcType=VARCHAR},
      SCOPE_CHANGE = #{record.scopeChange,jdbcType=CHAR},
      WAREH_STATE = #{record.warehState,jdbcType=CHAR},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.metersbonwe.stock.po.sync.TmpChannelScope" >
    update TMP_CHANNEL_SCOPE
    <set >
      <if test="channelCode != null" >
        CHANNEL_CODE = #{channelCode,jdbcType=VARCHAR},
      </if>
      <if test="warehId != null" >
        WAREH_ID = #{warehId,jdbcType=VARCHAR},
      </if>
      <if test="scopeChange != null" >
        SCOPE_CHANGE = #{scopeChange,jdbcType=CHAR},
      </if>
      <if test="warehState != null" >
        WAREH_STATE = #{warehState,jdbcType=CHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.metersbonwe.stock.po.sync.TmpChannelScope" >
    update TMP_CHANNEL_SCOPE
    set CHANNEL_CODE = #{channelCode,jdbcType=VARCHAR},
      WAREH_ID = #{warehId,jdbcType=VARCHAR},
      SCOPE_CHANGE = #{scopeChange,jdbcType=CHAR},
      WAREH_STATE = #{warehState,jdbcType=CHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>