<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.metersbonwe.stock.dal.auto.core.mapper.StockPreSaleModifiedDetailMapper" >
  <resultMap id="BaseResultMap" type="com.metersbonwe.stock.po.core.StockPreSaleModifiedDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="relation_id" property="relationId" jdbcType="BIGINT" />
    <result column="wareh_id" property="warehId" jdbcType="VARCHAR" />
    <result column="prod_id" property="prodId" jdbcType="VARCHAR" />
    <result column="pre_private_stock" property="prePrivateStock" jdbcType="INTEGER" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, relation_id, wareh_id, prod_id, pre_private_stock, start_time, end_time, update_time, 
    update_by
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.metersbonwe.stock.po.core.StockPreSaleModifiedDetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from stock_pre_sale_modified_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from stock_pre_sale_modified_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from stock_pre_sale_modified_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.metersbonwe.stock.po.core.StockPreSaleModifiedDetailExample" >
    delete from stock_pre_sale_modified_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.metersbonwe.stock.po.core.StockPreSaleModifiedDetail" >
    insert into stock_pre_sale_modified_detail (id, relation_id, wareh_id, 
      prod_id, pre_private_stock, start_time, 
      end_time, update_time, update_by
      )
    values (#{id,jdbcType=INTEGER}, #{relationId,jdbcType=BIGINT}, #{warehId,jdbcType=VARCHAR}, 
      #{prodId,jdbcType=VARCHAR}, #{prePrivateStock,jdbcType=INTEGER}, #{startTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.metersbonwe.stock.po.core.StockPreSaleModifiedDetail" >
    insert into stock_pre_sale_modified_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="relationId != null" >
        relation_id,
      </if>
      <if test="warehId != null" >
        wareh_id,
      </if>
      <if test="prodId != null" >
        prod_id,
      </if>
      <if test="prePrivateStock != null" >
        pre_private_stock,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="relationId != null" >
        #{relationId,jdbcType=BIGINT},
      </if>
      <if test="warehId != null" >
        #{warehId,jdbcType=VARCHAR},
      </if>
      <if test="prodId != null" >
        #{prodId,jdbcType=VARCHAR},
      </if>
      <if test="prePrivateStock != null" >
        #{prePrivateStock,jdbcType=INTEGER},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.metersbonwe.stock.po.core.StockPreSaleModifiedDetailExample" resultType="java.lang.Integer" >
    select count(*) from stock_pre_sale_modified_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update stock_pre_sale_modified_detail
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.relationId != null" >
        relation_id = #{record.relationId,jdbcType=BIGINT},
      </if>
      <if test="record.warehId != null" >
        wareh_id = #{record.warehId,jdbcType=VARCHAR},
      </if>
      <if test="record.prodId != null" >
        prod_id = #{record.prodId,jdbcType=VARCHAR},
      </if>
      <if test="record.prePrivateStock != null" >
        pre_private_stock = #{record.prePrivateStock,jdbcType=INTEGER},
      </if>
      <if test="record.startTime != null" >
        start_time = #{record.startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endTime != null" >
        end_time = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null" >
        update_by = #{record.updateBy,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update stock_pre_sale_modified_detail
    set id = #{record.id,jdbcType=INTEGER},
      relation_id = #{record.relationId,jdbcType=BIGINT},
      wareh_id = #{record.warehId,jdbcType=VARCHAR},
      prod_id = #{record.prodId,jdbcType=VARCHAR},
      pre_private_stock = #{record.prePrivateStock,jdbcType=INTEGER},
      start_time = #{record.startTime,jdbcType=TIMESTAMP},
      end_time = #{record.endTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.metersbonwe.stock.po.core.StockPreSaleModifiedDetail" >
    update stock_pre_sale_modified_detail
    <set >
      <if test="relationId != null" >
        relation_id = #{relationId,jdbcType=BIGINT},
      </if>
      <if test="warehId != null" >
        wareh_id = #{warehId,jdbcType=VARCHAR},
      </if>
      <if test="prodId != null" >
        prod_id = #{prodId,jdbcType=VARCHAR},
      </if>
      <if test="prePrivateStock != null" >
        pre_private_stock = #{prePrivateStock,jdbcType=INTEGER},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.metersbonwe.stock.po.core.StockPreSaleModifiedDetail" >
    update stock_pre_sale_modified_detail
    set relation_id = #{relationId,jdbcType=BIGINT},
      wareh_id = #{warehId,jdbcType=VARCHAR},
      prod_id = #{prodId,jdbcType=VARCHAR},
      pre_private_stock = #{prePrivateStock,jdbcType=INTEGER},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>