<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.metersbonwe.stock.dal.auto.core.mapper.StockChannelProdSubMapper">
	<resultMap id="BaseResultMap"
		type="com.metersbonwe.stock.po.core.StockChannelProdSub">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="channel_code" jdbcType="VARCHAR" property="channelCode" />
		<result column="six_prod_id" jdbcType="VARCHAR" property="sixProdId" />
		<result column="eight_prod_id" jdbcType="VARCHAR" property="eightProdId" />
		<result column="prod_id" jdbcType="VARCHAR" property="prodId" />
		<result column="order_private_total_stock" jdbcType="INTEGER"
			property="orderPrivateTotalStock" />
		<result column="order_shop_group_stock" jdbcType="INTEGER"
			property="orderShopGroupStock" />
		<result column="order_share_total_stock" jdbcType="INTEGER"
			property="orderShareTotalStock" />
		<result column="pre_private_stock" jdbcType="INTEGER" property="prePrivateStock" />
		<result column="pre_order_total_stock" jdbcType="INTEGER"
			property="preOrderTotalStock" />
		<result column="is_pre" jdbcType="TINYINT" property="isPre" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem"
										open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem"
										open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		id, channel_code, six_prod_id, eight_prod_id, prod_id,
		order_private_total_stock,
		order_shop_group_stock,
		order_share_total_stock, pre_private_stock, pre_order_total_stock,
		is_pre, update_time
	</sql>
	<select id="selectByExample"
		parameterType="com.metersbonwe.stock.po.core.StockChannelProdSubExample"
		resultMap="BaseResultMap">
		select
		<if test="example.distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from stock_channel_prod_sub_${record.tableSuffix}
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="example.orderByClause != null">
			order by ${example.orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" parameterType="com.metersbonwe.stock.po.core.StockChannelProdSub"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from stock_channel_prod_sub_${record.tableSuffix}
		where id =
		#{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="com.metersbonwe.stock.po.core.StockChannelProdSub">
		delete from
		stock_channel_prod_sub_${tableSuffix}
		where id =
		#{id,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByExample"
		parameterType="com.metersbonwe.stock.po.core.StockChannelProdSubExample">
		delete from stock_channel_prod_sub_${record.tableSuffix}
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.metersbonwe.stock.po.core.StockChannelProdSub">
		insert into
		stock_channel_prod_sub_${tableSuffix} (id, channel_code,
		six_prod_id,
		eight_prod_id, prod_id, order_private_total_stock,
		order_shop_group_stock, order_share_total_stock,
		pre_private_stock,
		pre_order_total_stock, is_pre,
		update_time)
		values
		(#{id,jdbcType=INTEGER}, #{channelCode,jdbcType=VARCHAR},
		#{sixProdId,jdbcType=VARCHAR},
		#{eightProdId,jdbcType=VARCHAR},
		#{prodId,jdbcType=VARCHAR},
		#{orderPrivateTotalStock,jdbcType=INTEGER},
		#{orderShopGroupStock,jdbcType=INTEGER},
		#{orderShareTotalStock,jdbcType=INTEGER},
		#{prePrivateStock,jdbcType=INTEGER},
		#{preOrderTotalStock,jdbcType=INTEGER}, #{isPre,jdbcType=TINYINT},
		#{updateTime,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="com.metersbonwe.stock.po.core.StockChannelProdSub">
		insert into stock_channel_prod_sub_${tableSuffix}
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="channelCode != null">
				channel_code,
			</if>
			<if test="sixProdId != null">
				six_prod_id,
			</if>
			<if test="eightProdId != null">
				eight_prod_id,
			</if>
			<if test="prodId != null">
				prod_id,
			</if>
			<if test="orderPrivateTotalStock != null">
				order_private_total_stock,
			</if>
			<if test="orderShopGroupStock != null">
				order_shop_group_stock,
			</if>
			<if test="orderShareTotalStock != null">
				order_share_total_stock,
			</if>
			<if test="prePrivateStock != null">
				pre_private_stock,
			</if>
			<if test="preOrderTotalStock != null">
				pre_order_total_stock,
			</if>
			<if test="isPre != null">
				is_pre,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="channelCode != null">
				#{channelCode,jdbcType=VARCHAR},
			</if>
			<if test="sixProdId != null">
				#{sixProdId,jdbcType=VARCHAR},
			</if>
			<if test="eightProdId != null">
				#{eightProdId,jdbcType=VARCHAR},
			</if>
			<if test="prodId != null">
				#{prodId,jdbcType=VARCHAR},
			</if>
			<if test="orderPrivateTotalStock != null">
				#{orderPrivateTotalStock,jdbcType=INTEGER},
			</if>
			<if test="orderShopGroupStock != null">
				#{orderShopGroupStock,jdbcType=INTEGER},
			</if>
			<if test="orderShareTotalStock != null">
				#{orderShareTotalStock,jdbcType=INTEGER},
			</if>
			<if test="prePrivateStock != null">
				#{prePrivateStock,jdbcType=INTEGER},
			</if>
			<if test="preOrderTotalStock != null">
				#{preOrderTotalStock,jdbcType=INTEGER},
			</if>
			<if test="isPre != null">
				#{isPre,jdbcType=TINYINT},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<select id="countByExample"
		parameterType="com.metersbonwe.stock.po.core.StockChannelProdSubExample"
		resultType="java.lang.Integer">
		select count(*) from stock_channel_prod_sub_${record.tableSuffix}
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update stock_channel_prod_sub_${record.tableSuffix}
		<set>
			<if test="record.id != null">
				id = #{record.id,jdbcType=INTEGER},
			</if>
			<if test="record.channelCode != null">
				channel_code = #{record.channelCode,jdbcType=VARCHAR},
			</if>
			<if test="record.sixProdId != null">
				six_prod_id = #{record.sixProdId,jdbcType=VARCHAR},
			</if>
			<if test="record.eightProdId != null">
				eight_prod_id = #{record.eightProdId,jdbcType=VARCHAR},
			</if>
			<if test="record.prodId != null">
				prod_id = #{record.prodId,jdbcType=VARCHAR},
			</if>
			<if test="record.orderPrivateTotalStock != null">
				order_private_total_stock =
				#{record.orderPrivateTotalStock,jdbcType=INTEGER},
			</if>
			<if test="record.orderShopGroupStock != null">
				order_shop_group_stock =
				#{record.orderShopGroupStock,jdbcType=INTEGER},
			</if>
			<if test="record.orderShareTotalStock != null">
				order_share_total_stock =
				#{record.orderShareTotalStock,jdbcType=INTEGER},
			</if>
			<if test="record.prePrivateStock != null">
				pre_private_stock =
				#{record.prePrivateStock,jdbcType=INTEGER},
			</if>
			<if test="record.preOrderTotalStock != null">
				pre_order_total_stock =
				#{record.preOrderTotalStock,jdbcType=INTEGER},
			</if>
			<if test="record.isPre != null">
				is_pre = #{record.isPre,jdbcType=TINYINT},
			</if>
			<if test="record.updateTime != null">
				update_time = #{record.updateTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update stock_channel_prod_sub_${record.tableSuffix}
		set id =
		#{record.id,jdbcType=INTEGER},
		channel_code =
		#{record.channelCode,jdbcType=VARCHAR},
		six_prod_id =
		#{record.sixProdId,jdbcType=VARCHAR},
		eight_prod_id =
		#{record.eightProdId,jdbcType=VARCHAR},
		prod_id =
		#{record.prodId,jdbcType=VARCHAR},
		order_private_total_stock =
		#{record.orderPrivateTotalStock,jdbcType=INTEGER},
		order_shop_group_stock =
		#{record.orderShopGroupStock,jdbcType=INTEGER},
		order_share_total_stock =
		#{record.orderShareTotalStock,jdbcType=INTEGER},
		pre_private_stock =
		#{record.prePrivateStock,jdbcType=INTEGER},
		pre_order_total_stock =
		#{record.preOrderTotalStock,jdbcType=INTEGER},
		is_pre =
		#{record.isPre,jdbcType=TINYINT},
		update_time =
		#{record.updateTime,jdbcType=TIMESTAMP}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.metersbonwe.stock.po.core.StockChannelProdSub">
		update stock_channel_prod_sub_${tableSuffix}
		<set>
			<if test="channelCode != null">
				channel_code = #{channelCode,jdbcType=VARCHAR},
			</if>
			<if test="sixProdId != null">
				six_prod_id = #{sixProdId,jdbcType=VARCHAR},
			</if>
			<if test="eightProdId != null">
				eight_prod_id = #{eightProdId,jdbcType=VARCHAR},
			</if>
			<if test="prodId != null">
				prod_id = #{prodId,jdbcType=VARCHAR},
			</if>
			<if test="orderPrivateTotalStock != null">
				order_private_total_stock =
				#{orderPrivateTotalStock,jdbcType=INTEGER},
			</if>
			<if test="orderShopGroupStock != null">
				order_shop_group_stock =
				#{orderShopGroupStock,jdbcType=INTEGER},
			</if>
			<if test="orderShareTotalStock != null">
				order_share_total_stock =
				#{orderShareTotalStock,jdbcType=INTEGER},
			</if>
			<if test="prePrivateStock != null">
				pre_private_stock = #{prePrivateStock,jdbcType=INTEGER},
			</if>
			<if test="preOrderTotalStock != null">
				pre_order_total_stock =
				#{preOrderTotalStock,jdbcType=INTEGER},
			</if>
			<if test="isPre != null">
				is_pre = #{isPre,jdbcType=TINYINT},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.metersbonwe.stock.po.core.StockChannelProdSub">
		update
		stock_channel_prod_sub_${tableSuffix}
		set channel_code =
		#{channelCode,jdbcType=VARCHAR},
		six_prod_id =
		#{sixProdId,jdbcType=VARCHAR},
		eight_prod_id =
		#{eightProdId,jdbcType=VARCHAR},
		prod_id = #{prodId,jdbcType=VARCHAR},
		order_private_total_stock =
		#{orderPrivateTotalStock,jdbcType=INTEGER},
		order_shop_group_stock =
		#{orderShopGroupStock,jdbcType=INTEGER},
		order_share_total_stock =
		#{orderShareTotalStock,jdbcType=INTEGER},
		pre_private_stock =
		#{prePrivateStock,jdbcType=INTEGER},
		pre_order_total_stock =
		#{preOrderTotalStock,jdbcType=INTEGER},
		is_pre =
		#{isPre,jdbcType=TINYINT},
		update_time =
		#{updateTime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>
