<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.metersbonwe.stock.dal.auto.core.mapper.TmpStockChannelStatusMapper" >
  <resultMap id="BaseResultMap" type="com.metersbonwe.stock.po.core.TmpStockChannelStatus" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="channel_code" property="channelCode" jdbcType="VARCHAR" />
    <result column="six_prod_id" property="sixProdId" jdbcType="VARCHAR" />
    <result column="eight_prod_id" property="eightProdId" jdbcType="VARCHAR" />
    <result column="prod_id" property="prodId" jdbcType="VARCHAR" />
    <result column="sale_status" property="saleStatus" jdbcType="VARCHAR" />
    <result column="is_sync" property="isSync" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, channel_code, six_prod_id, eight_prod_id, prod_id, sale_status, is_sync
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.metersbonwe.stock.po.core.TmpStockChannelStatusExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tmp_stock_channel_status
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tmp_stock_channel_status
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tmp_stock_channel_status
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.metersbonwe.stock.po.core.TmpStockChannelStatusExample" >
    delete from tmp_stock_channel_status
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.metersbonwe.stock.po.core.TmpStockChannelStatus" >
    insert into tmp_stock_channel_status (id, channel_code, six_prod_id, 
      eight_prod_id, prod_id, sale_status, 
      is_sync)
    values (#{id,jdbcType=INTEGER}, #{channelCode,jdbcType=VARCHAR}, #{sixProdId,jdbcType=VARCHAR}, 
      #{eightProdId,jdbcType=VARCHAR}, #{prodId,jdbcType=VARCHAR}, #{saleStatus,jdbcType=VARCHAR}, 
      #{isSync,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.metersbonwe.stock.po.core.TmpStockChannelStatus" >
    insert into tmp_stock_channel_status
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="channelCode != null" >
        channel_code,
      </if>
      <if test="sixProdId != null" >
        six_prod_id,
      </if>
      <if test="eightProdId != null" >
        eight_prod_id,
      </if>
      <if test="prodId != null" >
        prod_id,
      </if>
      <if test="saleStatus != null" >
        sale_status,
      </if>
      <if test="isSync != null" >
        is_sync,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="channelCode != null" >
        #{channelCode,jdbcType=VARCHAR},
      </if>
      <if test="sixProdId != null" >
        #{sixProdId,jdbcType=VARCHAR},
      </if>
      <if test="eightProdId != null" >
        #{eightProdId,jdbcType=VARCHAR},
      </if>
      <if test="prodId != null" >
        #{prodId,jdbcType=VARCHAR},
      </if>
      <if test="saleStatus != null" >
        #{saleStatus,jdbcType=VARCHAR},
      </if>
      <if test="isSync != null" >
        #{isSync,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.metersbonwe.stock.po.core.TmpStockChannelStatusExample" resultType="java.lang.Integer" >
    select count(*) from tmp_stock_channel_status
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tmp_stock_channel_status
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.channelCode != null" >
        channel_code = #{record.channelCode,jdbcType=VARCHAR},
      </if>
      <if test="record.sixProdId != null" >
        six_prod_id = #{record.sixProdId,jdbcType=VARCHAR},
      </if>
      <if test="record.eightProdId != null" >
        eight_prod_id = #{record.eightProdId,jdbcType=VARCHAR},
      </if>
      <if test="record.prodId != null" >
        prod_id = #{record.prodId,jdbcType=VARCHAR},
      </if>
      <if test="record.saleStatus != null" >
        sale_status = #{record.saleStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.isSync != null" >
        is_sync = #{record.isSync,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tmp_stock_channel_status
    set id = #{record.id,jdbcType=INTEGER},
      channel_code = #{record.channelCode,jdbcType=VARCHAR},
      six_prod_id = #{record.sixProdId,jdbcType=VARCHAR},
      eight_prod_id = #{record.eightProdId,jdbcType=VARCHAR},
      prod_id = #{record.prodId,jdbcType=VARCHAR},
      sale_status = #{record.saleStatus,jdbcType=VARCHAR},
      is_sync = #{record.isSync,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.metersbonwe.stock.po.core.TmpStockChannelStatus" >
    update tmp_stock_channel_status
    <set >
      <if test="channelCode != null" >
        channel_code = #{channelCode,jdbcType=VARCHAR},
      </if>
      <if test="sixProdId != null" >
        six_prod_id = #{sixProdId,jdbcType=VARCHAR},
      </if>
      <if test="eightProdId != null" >
        eight_prod_id = #{eightProdId,jdbcType=VARCHAR},
      </if>
      <if test="prodId != null" >
        prod_id = #{prodId,jdbcType=VARCHAR},
      </if>
      <if test="saleStatus != null" >
        sale_status = #{saleStatus,jdbcType=VARCHAR},
      </if>
      <if test="isSync != null" >
        is_sync = #{isSync,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.metersbonwe.stock.po.core.TmpStockChannelStatus" >
    update tmp_stock_channel_status
    set channel_code = #{channelCode,jdbcType=VARCHAR},
      six_prod_id = #{sixProdId,jdbcType=VARCHAR},
      eight_prod_id = #{eightProdId,jdbcType=VARCHAR},
      prod_id = #{prodId,jdbcType=VARCHAR},
      sale_status = #{saleStatus,jdbcType=VARCHAR},
      is_sync = #{isSync,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>