<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.metersbonwe.stock.dal.auto.core.mapper.TmpStockBatchReservedMapper" >
  <resultMap id="BaseResultMap" type="com.metersbonwe.stock.po.core.TmpStockBatchReserved" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="wareh_id" property="warehId" jdbcType="VARCHAR" />
    <result column="prod_id" property="prodId" jdbcType="VARCHAR" />
    <result column="channel_code" property="channelCode" jdbcType="VARCHAR" />
    <result column="reserved_stock" property="reservedStock" jdbcType="INTEGER" />
    <result column="safe_type" property="safeType" jdbcType="VARCHAR" />
    <result column="safe_stock" property="safeStock" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, wareh_id, prod_id, channel_code, reserved_stock, safe_type, safe_stock
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.metersbonwe.stock.po.core.TmpStockBatchReservedExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tmp_stock_batch_reserved
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tmp_stock_batch_reserved
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tmp_stock_batch_reserved
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.metersbonwe.stock.po.core.TmpStockBatchReservedExample" >
    delete from tmp_stock_batch_reserved
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.metersbonwe.stock.po.core.TmpStockBatchReserved" >
    insert into tmp_stock_batch_reserved (id, wareh_id, prod_id, 
      channel_code, reserved_stock, safe_type, 
      safe_stock)
    values (#{id,jdbcType=INTEGER}, #{warehId,jdbcType=VARCHAR}, #{prodId,jdbcType=VARCHAR}, 
      #{channelCode,jdbcType=VARCHAR}, #{reservedStock,jdbcType=INTEGER}, #{safeType,jdbcType=VARCHAR}, 
      #{safeStock,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.metersbonwe.stock.po.core.TmpStockBatchReserved" >
    insert into tmp_stock_batch_reserved
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="warehId != null" >
        wareh_id,
      </if>
      <if test="prodId != null" >
        prod_id,
      </if>
      <if test="channelCode != null" >
        channel_code,
      </if>
      <if test="reservedStock != null" >
        reserved_stock,
      </if>
      <if test="safeType != null" >
        safe_type,
      </if>
      <if test="safeStock != null" >
        safe_stock,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="warehId != null" >
        #{warehId,jdbcType=VARCHAR},
      </if>
      <if test="prodId != null" >
        #{prodId,jdbcType=VARCHAR},
      </if>
      <if test="channelCode != null" >
        #{channelCode,jdbcType=VARCHAR},
      </if>
      <if test="reservedStock != null" >
        #{reservedStock,jdbcType=INTEGER},
      </if>
      <if test="safeType != null" >
        #{safeType,jdbcType=VARCHAR},
      </if>
      <if test="safeStock != null" >
        #{safeStock,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.metersbonwe.stock.po.core.TmpStockBatchReservedExample" resultType="java.lang.Integer" >
    select count(*) from tmp_stock_batch_reserved
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tmp_stock_batch_reserved
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.warehId != null" >
        wareh_id = #{record.warehId,jdbcType=VARCHAR},
      </if>
      <if test="record.prodId != null" >
        prod_id = #{record.prodId,jdbcType=VARCHAR},
      </if>
      <if test="record.channelCode != null" >
        channel_code = #{record.channelCode,jdbcType=VARCHAR},
      </if>
      <if test="record.reservedStock != null" >
        reserved_stock = #{record.reservedStock,jdbcType=INTEGER},
      </if>
      <if test="record.safeType != null" >
        safe_type = #{record.safeType,jdbcType=VARCHAR},
      </if>
      <if test="record.safeStock != null" >
        safe_stock = #{record.safeStock,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tmp_stock_batch_reserved
    set id = #{record.id,jdbcType=INTEGER},
      wareh_id = #{record.warehId,jdbcType=VARCHAR},
      prod_id = #{record.prodId,jdbcType=VARCHAR},
      channel_code = #{record.channelCode,jdbcType=VARCHAR},
      reserved_stock = #{record.reservedStock,jdbcType=INTEGER},
      safe_type = #{record.safeType,jdbcType=VARCHAR},
      safe_stock = #{record.safeStock,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.metersbonwe.stock.po.core.TmpStockBatchReserved" >
    update tmp_stock_batch_reserved
    <set >
      <if test="warehId != null" >
        wareh_id = #{warehId,jdbcType=VARCHAR},
      </if>
      <if test="prodId != null" >
        prod_id = #{prodId,jdbcType=VARCHAR},
      </if>
      <if test="channelCode != null" >
        channel_code = #{channelCode,jdbcType=VARCHAR},
      </if>
      <if test="reservedStock != null" >
        reserved_stock = #{reservedStock,jdbcType=INTEGER},
      </if>
      <if test="safeType != null" >
        safe_type = #{safeType,jdbcType=VARCHAR},
      </if>
      <if test="safeStock != null" >
        safe_stock = #{safeStock,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.metersbonwe.stock.po.core.TmpStockBatchReserved" >
    update tmp_stock_batch_reserved
    set wareh_id = #{warehId,jdbcType=VARCHAR},
      prod_id = #{prodId,jdbcType=VARCHAR},
      channel_code = #{channelCode,jdbcType=VARCHAR},
      reserved_stock = #{reservedStock,jdbcType=INTEGER},
      safe_type = #{safeType,jdbcType=VARCHAR},
      safe_stock = #{safeStock,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>