<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="
     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
     http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
     http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd">

	<!-- stockCore -->
	<bean id="stockCoreTranDataSource" class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName" value="${mysql.driverClassName}" />
		<property name="url" value="${mysql.url}" />
		<property name="username" value="${mysql.user}" />
		<property name="password" value="${mysql.password}" />
		<property name="initialSize" value="10" />
		<property name="minIdle" value="10" />
		<property name="maxTotal" value="100" />
		<property name="maxWaitMillis" value="30000" />
		<property name="timeBetweenEvictionRunsMillis" value="60000" />
		<property name="minEvictableIdleTimeMillis" value="300000" />
		<property name="validationQuery" value="select 1 from dual" />
		<property name="testWhileIdle" value="true" />
		<property name="testOnBorrow" value="false" />
		<property name="testOnReturn" value="false" />
		<property name="removeAbandonedOnMaintenance" value="true" />
		<property name="removeAbandonedOnBorrow" value="true" />
		<property name="removeAbandonedTimeout" value="300" />
		<property name="logAbandoned" value="true" />
	</bean>


	<!-- 事务 -->
	<tx:annotation-driven transaction-manager="stockCoreTransactionManager"
		proxy-target-class="true" />

	<bean name="stockCoreTransactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="stockCoreTranDataSource" />
	</bean>

	<bean id="stockCoreTranFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="stockCoreTranDataSource" />
		<property name="configLocation"
			value="classpath:mybatis/mybatis-core-configuration.xml" />
		<property name="typeAliasesPackage" value="com.metersbonwe.stock.po.core" />
	</bean>

	<bean id="stockCoreTranMapper" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.metersbonwe.stock.dal.auto.core.tran" />
		<property name="sqlSessionFactoryBeanName" value="stockCoreTranFactory" />
	</bean>


</beans>